{% extends "base.html" %}

{% block content %}
<h3 align="center">Список профессий</h3>
{% if ll == "ul" %}
<ul>
    <li>Инженер-исследователь</li>
    <li>Пилот</li>
    <li>Строитель</li>
    <li>Биолог</li>
    <li>Врач</li>
    <li>Климатолог</li>
    <li>Астрогеолог</li>
    <li>Метеоролог</li>
    <li>Киберинженер</li>
    <li>Оператор Марсохода</li>
</ul>
{% endif %}
{% if ll == "ol" %}
<ol>
    <li>Инженер-исследователь</li>
    <li>Пилот</li>
    <li>Строитель</li>
    <li>Биолог</li>
    <li>Врач</li>
    <li>Климатолог</li>
    <li>Астрогеолог</li>
    <li>Метеоролог</li>
    <li>Киберинженер</li>
    <li>Оператор Марсохода</li>
</ol>
{% endif %}
{% endblock %}
