{% extends "base.html" %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img width="500" height="500" src="static/img/carousel/pic1.jpg" class="d-block w-100" alt="...">
        </div>
        {% for i in photos %}
        <div class="carousel-item">
            <img width="500" height="500" src="static/img/carousel/{{ i }}" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
    </div>
</div>
<form class="login_form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="photo">Выберите файл</label>
        <input type="file" class="form-control-file" id="photo" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

{% endblock %}